body{
    background-color: #efefef;
}

.main{
    background-color: white;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width:60px;
    height: 60px;
}
.media-body{
    padding-top: 15px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.question-tag{
    margin-right: 5px;
}
.question-tag .font{
    font-size: 11px;
}
.question-related{
    line-height: 20px;
    font-size: 12px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}
.community-menu{
    color: #999;
    font-size: 13px;
}

.comment-textarea{
    margin:10px 0;
}
.comments{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.sec-comments{
    padding-top: 5px;
    margin-top: 15px;
    border: 1px solid #eee;
}

.menu{
    color: #999999;
    margin-top: 5px;
}
.menu .icon{
    cursor: pointer;
    margin-right: 6px;
    font-size: 15px;
}
.menu .active{
    color: #499ef3;
}
.menu .icon:hover{
    color: #499ef3;
}




